/* universal styles */
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

a {
  color: seashell;
  visited: seashell;
  linkcolor: seashell;
}

.container {
  background-color: black;
  display: block;
  padding: 10px;
}

h4, h2 {
  margin: 0;
  padding: 5px;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-flow: row; wrap;
  height: 69px;
  width: 1200px;
  border-bottom: 1px solid seashell;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
}

.header img {
  height: 50px;
  width: auto;
  align-self: center;
  margin-left: 10px;
}

.header li {
  list-style: none;
  display: inline-block;
  padding: 0px 10px;
  margin-right: 20px;
}

/* content Mission */

.mission {
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  padding-top: 63px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 0;
  margin-bottom: 60px;
}

/* content featured tea */

.featured_content {
  background-color: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-basis: 1000px;
}

.featured_content img {
  height: 200px;
  width: 300px;
  padding: 20px 10px 0px 10px;
}
